/
body{
    background-color: rgb(167, 135, 185);
}

#h1-header{
    background-color: rgb(65, 65, 65);
    color: white;
    text-align: center;
    text-shadow: 1px rgb(65, 65, 65);
    padding: 7px;
}
#img{
    background-image: url("121.jpg");
    height: 500px;
}
#about-us{
    text-align: center;
    color: rgb(233, 151, 92);
}
.form{
    margin: 10px;
}
#h1-info{
    text-align: center;
    margin-top: 10px;
}
#h1-form{
    text-align: center;
}
hr{
    width: 550px;
}

form{
    background-color:rgb(48, 48, 48);
    color: white;
}
.container {
    margin: auto;
    width: 100%;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    background: #5c5a5a;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #sub-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }
  .h1-form{
      text-align: center;
      color: white;
  }
  .h2-info{
      text-align: center;
      
  }
  .h2-d-info{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
    border: 0.5px;
    padding: 10px;
   
  }
  #users{
    text-align: center;
    display: none;
  }
  
  .th{
    width:500px;
    font-size: 30px;
  }
  .btn-header{
      position: relative;
      

  }
 .page-footer{
     background-image: url("footer-background-1.jpg");
     color: white;
 }
 .grey-text{
     color:white;
 }